@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(fogle.ttf) format('truetype');
}
* {
  padding: 0;
  box-sizing: 0;
  margin: 0;
  font-family: MyFont;
}
.App {
  height: 100%;
}

.nav {
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 280px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  display: flex;
  justify-content: center;
  background-color: #15151534;
  background-blend-mode: multiply;
  font-size: large;
  text-align: center;
  align-items: center;
}
.game {
  height: 100%;
  padding-top: 280px;
  
}
.nav div {
  text-align: center;
}

.score {
  position: fixed;
  top: 130px;
  right: 30px;
  color: white;
}

.cards {
  scroll-behavior: smooth;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-items: center;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  grid-auto-flow: dense;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: hard-light;
  background-position: center;
}
.card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  height: 280px;
  border-radius: 32px;
}

.character {
  width: 100%;
  height: 95%;
}
.card h5 {
  font-size: 1rem;
  text-align: center;
  width: 100%;
  background-color: white;
  height: auto;
}
